# ====================================================
# SPECIFICS-FRAMEWORK-UTILS:
# ====================================================
# disable role checking (ONLY FOR DEV)
DISABLE_SECURITY=True

# disable kafka
DISABLE_KAFKA=false

# GENERICS
# ----------------------------------------------------
FLASK_APP=app.py
FLASK_DEBUG=development
# ----------------------------------------------------

# ====================================================
# DATABASES:
# POSTGRESS
# ----------------------------------------------------
DB_HOST='10.30.14.21'
DB_PORT=30007
DB_NAME='dev'
DB_USER='dev'
DB_PASSWORD='dev'
DB_TABLE_NAME='consumer_configs'

# ====================================================
# ELASTICSEARCH
# ----------------------------------------------------
ELASTICSEARCH_CERT_PATH = './utils/es-cert.crt'
ELASTICSEARCH_HOST = 'https://10.30.11.14:9200'
ELASTICSEARCH_USERNAME = 'elastic'
ELASTICSEARCH_PASSWORD = 'YTrEkQ9G8OzH5rQi1wgK'
ELASTICSEARCH_INDEX = 'workers'

# ====================================================
# JAEGAR:
# ----------------------------------------------------
JAEGAR_AGENT_HOST_NAME=10.30.14.21
JAEGER_AGENT_PORT=32081
# ----------------------------------------------------

# ====================================================
# REDIS:
# ----------------------------------------------------
REDIS_HOST='172.17.120.31'
REDIS_PORT=30008
REDIS_DB=0
REDIS_PASSWORD=None
# ----------------------------------------------------

# ====================================================
# WORKER BASED:
# ----------------------------------------------------
WORKER_NAME='worker-iptc-dev'
THREAD_POOL_SIZE=10

# ====================================================
# SESSION:
# ----------------------------------------------------
JWT_TOKEN_LOCATION=headers
SECRET_KEY=super-secret-123

# ----------------------------------------------------
# CERTIFICATES AND KEYS:
# ----------------------------------------------------
CERTIFICATE_APP=tls/wildcard.cluster.local.crt
KEY_APP=tls/wildcard.cluster.local.key

# ====================================================
# CORS:
# ----------------------------------------------------
CORS_ALLOWED_ORIGINS="[
    '*'
]"

# ====================================================
# LOGS LEVEL
# CRITICAL, ERROR, WARNING, WARN, INFO, DEBUG, NOTSET
# ----------------------------------------------------
LOGGING_LEVEL=DEBUG

# ====================================================
# IPTC CONFIG
# ----------------------------------------------------

API_IPTC_RON='http://172.18.11.196:8986/rest/process'
API_IPTC_ENG='http://172.18.11.196:8987/rest/process'
API_IPTC_ARA='http://172.18.11.196:8981/rest/process'
API_IPTC_FAS='http://172.18.11.196:8980/rest/process'
API_IPTC_HUN='http://172.18.11.196:8979/rest/process'
API_IPTC_RUS='http://172.18.11.196:8978/rest/process'

# ====================================================
# MOCK
# ----------------------------------------------------

DEV_MODE=False
MOCK_RESPONSE=[{"categories":[{"label": "environmental issue","score": 0.644},{"label": "education","score": 0.1174}]}]
